.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background: var(--color-background-surface-3);
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 600;
  flex-shrink: 0;
}
