.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-actions-primary);
}

.icon {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
