.root {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: var(--spacing-050, 4px);
  row-gap: var(--spacing-100, 8px);
  min-width: 96px;
  color: var(--text-primary);
}

.icon {
  grid-column: 2;
  grid-row: 1;
  display: inline-flex;
  color: var(--color-actions-primary);
}

.trail {
  height: 2px;
  width: 100%;
  grid-row: 1;
  background: var(--color-border-2);
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 3;
}

.active {
  background: var(--color-actions-primary);
}

.inactive {
  background: var(--color-border-2);
}

.label {
  grid-column: 1 / -1;
  grid-row: 2;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.status-completed .label,
.status-current .label {
  color: var(--text-primary);
}

.status-completed .icon {
  color: var(--color-actions-primary);
}

.status-pending .icon,
.status-pending .label {
  color: var(--text-placeholder);
}
