.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150, 10px);
  width: 256px;
  min-height: 480px;
  padding: var(--spacing-200, 12px);
  background: var(--color-background-surface-0);
}

.alignment-middle .items {
  margin-block: auto;
}

.appearance-inverse {
  background: var(--color-background-surface-inverse-3, #3a3345);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}
