.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100, 8px);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: var(--color-border-2);
}

.active {
  background: var(--color-actions-primary);
}
