.root {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  border-radius: var(--border-radius-full, 999px);
}

.right {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
